// body {
//   background-color: $beige;
// }

// ========================
// HERO Section
// ========================

section.hero {
  background-color: $beige;
  min-height: 80vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  gap: 2em;
  margin: -1em 0;
  padding-bottom: 5em;
}

.hero__img {
  display: none;
}

.hero__img--mobile {
  width: 80%;
  max-height: 75%;
  object-fit: cover;
}

.hero__content {
  z-index: 1;
  bottom: 0;
  text-align: center;
  padding: 1em 3em;
}

.hero__content--title,
.hero__content--subtitle {
  margin: 0;
}

.hero__content--subtitle {
  margin: 1.5em 0;
  color: $brown-light;
}

@include media-md {
  .hero__img--mobile {
    display: none;
  }

  .hero__img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .hero__content {
    max-width: 50%;
    align-self: flex-start;
    text-align: unset;
    margin-top: 10em;
  }
}

// ========================
// Benefits Section
// ========================

section.benefits {
  background-color: $beige-light;
  padding: 4em 1em;
}

.benefits__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.benefits__top--title {
  margin: 0;
  z-index: 1;
}

.benefits__top--subtitle {
  color: $brown-light;
  z-index: 1;
}

.benefits__bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5em;
}

@include media-lg {
  .benefits__bottom {
    gap: 3em;
  }
}

// ========================
// Satisfaction Section
// ========================

.satisfaction__img {
  display: none;
}

.satisfaction__subtitle,
.satisfaction__title,
.list-item__name,
.list-item__desc {
  margin: 0;
}

section.satisfaction {
  background-color: $clr-satisfaction-bg;
  padding: 5em 0;
}

.satisfaction__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

.satisfaction__title {
  margin-bottom: 1.3em;
}

.satisfaction__list {
  width: 25em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.satisfaction__list-item {
  background-color: $clr-satisfaction;
  border-radius: 10em;
  padding: 1em 2em;
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-items: center;
  align-items: center;
}

.list-item__icon {
  width: 100%;
  object-fit: contain;

  &--hands {
    max-width: 5em;
    max-height: 5em;
  }

  &--squiggles {
    max-width: 4em;
    max-height: 4em;
  }

  &--lemon {
    max-width: 5em;
    max-height: 4em;
  }

  &--legal {
    max-width: 4em;
    max-height: 4em;
  }
}

.list-item__content {
  margin-left: 1em;
}

.list-item__name {
  margin-bottom: 0.5em;
}

@include media-md {
  section.satisfaction {
    padding: 0;
  }

  .satisfaction__wrapper {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    height: 50em;
  }

  .satisfaction__img {
    display: block;
    flex: 1;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .satisfaction__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .satisfaction__container {
    width: 50%;
  }
}

@include media-lg {
  section.satisfaction {
    height: 60em;
  }

  .satisfaction__wrapper {
    height: 100%;
  }

  .satisfaction__list {
    width: 90%;
  }

  .satisfaction__content {
    width: 80%;
    align-items: flex-start;
  }
}

@include media-xl {
  section.satisfaction {
    height: 70em;
  }

  .satisfaction__wrapper {
    max-width: 90%;
    margin: 0 auto;
  }

  .satisfaction__list {
    max-width: 30em;
  }

  .satisfaction__content {
    max-width: 35em;
  }
}
