// ===================
// Media queries
// ===================
@mixin media-xs {
  @media only screen and (min-width: $xs-width) {
    @content;
  }
}

@mixin media-sm {
  @media only screen and (min-width: $sm-width) {
    @content;
  }
}

@mixin media-md {
  @media only screen and (min-width: $md-width) {
    @content;
  }
}

@mixin media-lg {
  @media only screen and (min-width: $lg-width) {
    @content;
  }
}

@mixin media-xl {
  @media only screen and (min-width: $xl-width) {
    @content;
  }
}

@mixin media-xxl {
  @media only screen and (min-width: $xxl-width) {
    @content;
  }
}

// ===================
// Typography
// ===================

@mixin ft-title {
  font-weight: 800;
  color: $brown;
}

@mixin ft-subtitle {
  font-size: 1rem;
  font-weight: 400;
  color: $brown-light;
}

@mixin ft-subtitle--about {
  font-size: 1rem;
  color: $brown;
}

// ===================
// Buttons
// ===================

@mixin btn-flat {
  border-radius: 0.7em;
  box-shadow: none;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.17rem;
}
