// ========================
// Colors
// ========================

// Theme
$beige: #edd3c1;
$beige-light: #fcf4ef;
$beige-dark: #faead8;

// Typography
$brown: #443636;
$brown-light: #a59684;

// Buttons and accents
$orange: #f6914e;
$green: #3c562c;

// Reviews
$gray: #f6f0ef;

// ========================
// Breakpoints
// ========================
