// ========================
// Colors
// ========================

// Theme
$beige: #edd3c1;
$beige-light: #fcf4ef;
$beige-dark: #faead8;

// Typography
$brown: #443636;
$brown-light: #a59684;
$clr-legal: #79886b;

// Buttons and accents
$orange: #f6914e;
$green: #3c562c;

// Reviews
$gray: #f6f0ef;

// Cards
$white: #ffffff;

// ========================
// Breakpoints
// ========================
$xs-width: 480px;
$sm-width: 700px;
$md-width: 900px;
$lg-width: 1200px;
$xl-width: 1400px;
