.wave {
  position: relative;
}

.wave__container {
  position: absolute;
  top: -5em;
}

.wave__svg {
  path {
    fill: $beige-light;
  }
}

@include media-sm {
  .wave__container {
    top: -10em;
  }
}

@include media-md {
  .wave__container {
    top: -14em;
  }
}

@include media-lg {
  .wave__container {
    top: -17em;
  }
}

@include media-xl {
  .wave__container {
    width: 100%;
    top: -20em;
  }
}

@include media-xxl {
  .wave {
    display: none;
  }
}
