body {
  font-family: "Tisa Sans", "Source Sans Pro", sans-serif;
}

// ===============================
// Navigation
// ===============================

.cart__counter {
  font-size: 1.5rem;
}

// ===============================
// Index.html - Hero
// ===============================
.hero__content--title {
  font-weight: 900;
}

.hero__content--subtitle {
  font-size: 1.15rem;
}

.button--hero {
  font-size: 0.9rem;
}

// ===============================
// Index.html - Benefits
// ===============================
.card__description {
  font-size: 1.2rem;
}

@include media-sm {
  .card__description {
    font-size: 1rem;
  }
}

// ===============================
// Index.html - About
// ===============================

.about__subtitle {
  @include ft-subtitle--about;
}

.about__subtitle--block3 {
  font-size: 1rem;
}

.about__title {
  @include ft-title;
}

.about__desc {
  line-height: 1.5em;
  color: $brown-light;
}

// ===============================
// Index.html - Satisfaction
// ===============================

.satisfaction__subtitle {
  @include ft-subtitle;
}

.satisfaction__title {
  @include ft-title;
}

.list-item__name {
  font-size: 1.15rem;
}

.list-item__desc {
  font-size: 1rem;
  color: $brown-light;
  line-height: 1.5rem;
}

// ===============================
// Index.html - Learn
// ===============================

.learn__subtitle {
  @include ft-subtitle;
}

.learn__title {
  @include ft-title;
}

.learn__desc {
  line-height: 1.5em;
}

@include media-lg {
  .learn__subtitle {
    font-size: 1.2rem;
  }

  .learn__title {
    font-size: 2.5rem;
  }
}

// ===============================
// Footer
// ===============================
.footer__top--shop-text {
  font-size: 1.6rem;
  font-weight: 900;
}

.footer__navigation--list {
  font-size: 1.4rem;
}

@include media-sm {
  .footer__navigation--list {
    font-size: 1.2rem;
  }

  .footer__legal--list {
    font-size: 0.9rem;
  }
}

@include media-md {
  .footer__top--shop-text {
    font-size: 2rem;
  }

  .footer__legal--list {
    font-size: 1rem;
  }
}
