.button--btp {
  display: none;
}

.footer__top {
  background-color: $beige;
  height: 7em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 1.5em;
}

.footer__top--logo {
  width: 4em;
  height: 4em;
}

.footer__top--shop {
  display: flex;
  align-items: center;
  gap: 1em;
  cursor: pointer;
}

.footer__top--shop-text {
  margin: 0;
  color: $brown;
}

.footer__top--shop-arrow {
  width: 2.3em;
  height: 1.3em;
  object-fit: contain;
}

// ----------

.footer__bottom {
  background-color: $green;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3em 1em;
  gap: 2em;
}

.footer__navigation--list {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-bottom: 1.3em;

  a {
    color: $beige-light;
  }
}

.footer__logo--img {
  width: 50%;
}

.footer__legal--list {
  display: flex;
  flex-direction: column;
  gap: 1em;

  a {
    color: $clr-legal;
  }
}

@include media-sm {
  .footer__top {
    padding: 1em 3em;
  }

  .footer__navigation--list,
  .footer__legal--list {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__navigation {
    width: 90%;
  }

  .footer__navigation--list {
    width: 100%;
  }

  .footer__logo--img {
    max-width: 40em;
  }
}

@include media-md {
  .button--btp {
    display: block;
  }

  .footer__top--logo {
    width: 6em;
    height: 6em;
  }

  .footer__top--shop-arrow {
    width: 3.3em;
    height: 2.3em;
  }

  .footer__top {
    padding: 5em 4em;
  }

  .footer__legal--list {
    gap: 1.5em;
  }
}
